In [1]:
import pandas as pd
import joblib
import random
import json

In [2]:
trivia_X_train = pd.Series(joblib.load("data/MIT_movie_NER/nested_lists/trivia_X_train"))
trivia_y_train = pd.Series(joblib.load("data/MIT_movie_NER/nested_lists/trivia_y_train"))
trivia_X_test = pd.Series(joblib.load("data/MIT_movie_NER/nested_lists/trivia_X_test"))
trivia_y_test = pd.Series(joblib.load("data/MIT_movie_NER/nested_lists/trivia_y_test"))
trivia_X_val = pd.Series(joblib.load("data/MIT_movie_NER/nested_lists/trivia_X_val"))
trivia_y_val = pd.Series(joblib.load("data/MIT_movie_NER/nested_lists/trivia_y_val"))

In [3]:
# path = "data/MIT_movie_NER/original_files/trivia10k13train.bio"
# save_path = "data/MIT_movie_NER/csv_format/trivia_training.csv"

# data = pd.read_csv(path, header=None)
# df = pd.DataFrame(columns=["token", "ner_tag"])
# df['token'], df['ner_tag'] = list(zip(*data[0].str.split("\t")))
# df.to_csv(save_path)

In [4]:
mapper_list = ['B-Actor',
 'B-Award',
 'B-Character_Name',
 'B-Director',
 'B-Genre',
 'B-Opinion',
 'B-Origin',
 'B-Plot',
 'B-Quote',
 'B-Relationship',
 'B-Soundtrack',
 'B-Year',
 'I-Actor',
 'I-Award',
 'I-Character_Name',
 'I-Director',
 'I-Genre',
 'I-Opinion',
 'I-Origin',
 'I-Plot',
 'I-Quote',
 'I-Relationship',
 'I-Soundtrack',
 'I-Year',
 'O']

In [5]:
mapper = {}
i = 0
for each in mapper_list:
    mapper[each] = i
    i = i+1

In [6]:
mapper

{'B-Actor': 0,
 'B-Award': 1,
 'B-Character_Name': 2,
 'B-Director': 3,
 'B-Genre': 4,
 'B-Opinion': 5,
 'B-Origin': 6,
 'B-Plot': 7,
 'B-Quote': 8,
 'B-Relationship': 9,
 'B-Soundtrack': 10,
 'B-Year': 11,
 'I-Actor': 12,
 'I-Award': 13,
 'I-Character_Name': 14,
 'I-Director': 15,
 'I-Genre': 16,
 'I-Opinion': 17,
 'I-Origin': 18,
 'I-Plot': 19,
 'I-Quote': 20,
 'I-Relationship': 21,
 'I-Soundtrack': 22,
 'I-Year': 23,
 'O': 24}

In [21]:
trivia_train = pd.DataFrame(columns=['tokens', 'ner_tags'])
trivia_val = pd.DataFrame(columns=['tokens', 'ner_tags'])
trivia_test = pd.DataFrame(columns=['tokens', 'ner_tags'])

In [22]:
# uncomment to map to numbers

# trivia_train["ner_tags"] = trivia_y_train.apply(lambda f:[mapper [x] for x in f])
# trivia_test["ner_tags"] = trivia_y_test.apply(lambda f:[mapper [x] for x in f])
# trivia_val["ner_tags"] = trivia_y_val.apply(lambda f:[mapper [x] for x in f])

trivia_train["ner_tags"] = trivia_y_train
trivia_test["ner_tags"] = trivia_y_test
trivia_val["ner_tags"] = trivia_y_val

In [23]:
trivia_train["tokens"] = trivia_X_train
trivia_test["tokens"] = trivia_X_test
trivia_val["tokens"] = trivia_X_val

In [24]:
trivia_train

,tokens,ner_tags
0,"[what, 1977, steven, spielberg, sci, fi, adven...","[O, O, O, B-Year, B-Genre, I-Genre, I-Genre, O..."
1,"[called, by, many, the, greatest, film, of, al...","[O, O, O, O, O, O, B-Actor, I-Actor, O, B-Acto..."
2,"[what, is, that, documentary, about, the, famo...","[O, O, O, B-Year, O, O, B-Actor, I-Actor, O, B..."
3,"[what, 1931, film, featured, a, man, hunt, in,...","[O, B-Genre, I-Genre, B-Opinion, O, B-Plot, I-..."
4,"[i, m, thinking, of, a, movie, starring, denze...","[B-Plot, I-Plot, I-Plot, I-Plot, I-Plot, I-Plo..."
...,...,...
6248,"[what, is, the, disney, animated, movie, in, w...","[O, O, O, B-Year, B-Genre, B-Opinion, O, O, O,..."
6249,"[autobots, learn, of, a, cybertronian, spacecr...","[B-Plot, I-Plot, B-Character_Name, I-Character..."
6250,"[there, was, a, british, version, of, this, mo...","[B-Actor, I-Actor, B-Origin, I-Origin, I-Origi..."
6251,"[what, is, that, 2010, movie, directed, by, cl...","[B-Actor, I-Actor, O, O, B-Award, O, O, O, O, ..."
6252,"[what, is, the, family, movie, that, features,...","[B-Actor, I-Actor, O, B-Plot, I-Plot, I-Plot, ..."

In [25]:
trivia_train.to_json(r"data/MIT_movie_NER/dict_structure/trivia_training.json", orient='records', lines=True)
trivia_test.to_json(r"data/MIT_movie_NER/dict_structure/trivia_test.json", orient='records', lines=True)
trivia_val.to_json(r"data/MIT_movie_NER/dict_structure/trivia_val.json", orient='records', lines=True)

In [11]:
# def to_json(df, path):
#     for_json_list = []
#     f = open(path, "w")
#     for index, row in df.iterrows():
#         f.write(f"{ "id" : {index}, "tokens" : {row[0]},
#             "ner_tags" : {row[1]}}" + "\n")
#     f.close()

In [12]:
# to_json(trivia_train, "data/MIT_movie_NER/dict_structure/trivia_training.jsonl")
# to_json(trivia_test, "data/MIT_movie_NER/dict_structure/trivia_test.jsonl")
# to_json(trivia_val, "data/MIT_movie_NER/dict_structure/trivia_val.jsonl")

In [46]:
# data.to_csv("data/MIT_movie_NER/csv_format/trivia_training.csv")