In [1]:
import pandas as pd
import joblib
import random
import json

In [43]:
f = open("data/MIT_movie_NER/dict_structure/trivia_training.json", "r")
data = pd.DataFrame(json.load(f))

In [3]:
# df = pd.DataFrame(columns=['token', 'ner_tag'])
# for index, row in data.iterrows():
#     for token, ner in zip(row[0], row[1]):
#         df = df.append({'token':token, 'ner_tag':ner}, ignore_index=True)

In [13]:
# path = "data/MIT_movie_NER/original_files/trivia10k13train.bio"
# save_path = "data/MIT_movie_NER/csv_format/trivia_training.csv"

# data = pd.read_csv(path, header=None)
# df = pd.DataFrame(columns=["token", "ner_tag"])
# df['token'], df['ner_tag'] = list(zip(*data[0].str.split("\t")))
# df.to_csv(save_path)

In [19]:
data

,sentences,tags
0,"[need, that, movie, which, involves, aliens, i...","[O, O, O, O, O, B-Plot, I-Plot, I-Plot, I-Plot..."
1,"[what, soviet, science, fiction, classic, abou...","[O, B-Genre, I-Genre, I-Genre, B-Opinion, O, B..."
2,"[this, american, classic, based, on, margaret,...","[O, B-Genre, I-Genre, O, O, B-Origin, I-Origin..."
3,"[what, is, the, movie, starring, jessica, biel...","[O, O, O, O, O, B-Actor, I-Actor, O, B-Year, O..."
4,"[in, this, movie, ryan, reynolds, plays, a, su...","[O, O, O, B-Actor, I-Actor, O, O, B-Plot, I-Pl..."
...,...,...
1948,"[while, frodo, and, sam, edge, closer, to, mor...","[O, B-Character_Name, O, B-Character_Name, B-P..."
1949,"[who, directed, the, movie, dirty, dozen]","[O, O, O, O, O, O]"
1950,"[you, might, be, able, to, land, a, plane, on,...","[O, O, O, O, O, O, O, O, O, O, B-Character_Nam..."
1951,"[young, victor, conducts, a, science, experime...","[O, B-Character_Name, B-Plot, I-Plot, I-Plot, ..."
1952,"[zac, efron, is, the, title, character, in, th...","[B-Actor, I-Actor, O, O, O, O, O, O, B-Year, B..."

In [21]:
mapper_list = ['B-Actor',
 'B-Award',
 'B-Character_Name',
 'B-Director',
 'B-Genre',
 'B-Opinion',
 'B-Origin',
 'B-Plot',
 'B-Quote',
 'B-Relationship',
 'B-Soundtrack',
 'B-Year',
 'I-Actor',
 'I-Award',
 'I-Character_Name',
 'I-Director',
 'I-Genre',
 'I-Opinion',
 'I-Origin',
 'I-Plot',
 'I-Quote',
 'I-Relationship',
 'I-Soundtrack',
 'I-Year',
 'O']

In [22]:
mapper = {}
i = 0
for each in mapper_list:
    mapper[each] = i
    i = i+1

In [23]:
mapper

{'B-Actor': 0,
 'B-Award': 1,
 'B-Character_Name': 2,
 'B-Director': 3,
 'B-Genre': 4,
 'B-Opinion': 5,
 'B-Origin': 6,
 'B-Plot': 7,
 'B-Quote': 8,
 'B-Relationship': 9,
 'B-Soundtrack': 10,
 'B-Year': 11,
 'I-Actor': 12,
 'I-Award': 13,
 'I-Character_Name': 14,
 'I-Director': 15,
 'I-Genre': 16,
 'I-Opinion': 17,
 'I-Origin': 18,
 'I-Plot': 19,
 'I-Quote': 20,
 'I-Relationship': 21,
 'I-Soundtrack': 22,
 'I-Year': 23,
 'O': 24}

In [44]:
data["ner_tags"] = data.tags.apply(lambda f:[mapper [x] for x in f])

In [45]:
data = data.drop(columns="tags").rename(columns={"sentences":"tokens"})

In [38]:
for_json = []
for index, row in data.iterrows():
    for_json.append({
        "id" : index,
        "tokens" : row[0],
        "ner_tags" : row[1]    })

In [40]:
# for_json

In [46]:
data.to_csv("data/MIT_movie_NER/csv_format/trivia_training.csv")