In [1]:
import pandas as pd
import json

In [21]:
f = open("../datasets/movies/data_for_inspection(scp-ed)/squad.film.test.json", "r")
data = json.load(f)

In [54]:
df = pd.DataFrame(columns=['id', 'title', 'context', 'question', 'answers'])

for i in range(len(data['data'])):
    row_dict = dict.fromkeys(['id', 'title', 'context', 'question', 'answers'])

    item = data['data'][i]['paragraphs'][0]
    row_dict['context'] = item['context']
    qa = item['qas'][0]
    row_dict['question'] =  qa['question']
    row_dict['id'] =  str(i)
    row_dict['title'] =  str(qa['id'])
    ans = qa['answers'][0]
    new_ans_dict = {
        'answer_start' : [ans['answer_start']], 
        "text" : [ans['text']]
    }
    row_dict['answers'] = new_ans_dict

    df = df.append(row_dict, ignore_index=True)

In [55]:
df

,id,title,context,question,answers
0,0,279976_7,The Sea of Monsters received good reviews and ...,how many copies of sea monsters,"{'answer_start': [168], 'text': ['100,000']}"
1,1,55034_0,Bob Parr is the first human protagonist in a P...,bob par meaning,"{'answer_start': [0], 'text': ['Bob Parr is th..."
2,2,502718_2,Ghost Town is derived from classics It's A Won...,stars in ghost town,"{'answer_start': [145], 'text': ['Gervais']}"
3,3,340675_1,"Sure, you know the cat-eating alien hails from...",how tall is alf,"{'answer_start': [325], 'text': ['two feet nin..."
4,4,461640_2,Gina Carano would be a way better Wonder Woman...,name of actress who plays wonder woman,"{'answer_start': [0], 'text': ['Gina Carano']}"
...,...,...,...,...,...
750,750,290114_4,"So far there are five movies about Naruto, thr...",how many movies naruto,"{'answer_start': [17], 'text': ['five']}"
751,751,501377_1,"Lawrence has appeared in at least 10 movies, i...",spike lee movie Martin Lawrence,"{'answer_start': [83], 'text': ['Do the Right ..."
752,752,580117_3,Barkley is a Muppet dog who appears on Sesame ...,what breed of dog is barkley,"{'answer_start': [11], 'text': ['a Muppet dog ..."
753,753,83528_9,"Starring: Joseph Gordon-Levitt, Melissa Leo, S...",cast of snowden,"{'answer_start': [10], 'text': ['Joseph Gordon..."
754,754,298395_1,Is it true that the average person touches the...,how many times do you touch your face a day,"{'answer_start': [232], 'text': ['16 times an ..."

In [56]:
df.to_json(r"../datasets/movies/data_for_inspection(scp-ed)/squad.film.test.json", orient='records', lines=True)