In [28]:
import pandas as pd
import joblib
import random
import json

In [29]:
trivia_X_train = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_X_train"))
trivia_y_train = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_y_train"))
trivia_X_test = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_X_test"))
trivia_y_test = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_y_test"))
trivia_X_val = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_X_val"))
trivia_y_val = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_y_val"))

X_train = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/X_train"))
y_train = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/y_train"))
X_test = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/X_test"))
y_test = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/y_test"))
X_val = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/X_val"))
y_val = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/y_val"))

In [30]:
# path = "data/MIT_movie_NER/original_files/trivia10k13train.bio"
# save_path = "data/MIT_movie_NER/csv_format/trivia_training.csv"

# data = pd.read_csv(path, header=None)
# df = pd.DataFrame(columns=["token", "ner_tag"])
# df['token'], df['ner_tag'] = list(zip(*data[0].str.split("\t")))
# df.to_csv(save_path)

In [31]:
mapper_list = ['B-Actor',
 'B-Award',
 'B-Character_Name',
 'B-Director',
 'B-Genre',
 'B-Opinion',
 'B-Origin',
 'B-Plot',
 'B-Quote',
 'B-Relationship',
 'B-Soundtrack',
 'B-Year',
 'I-Actor',
 'I-Award',
 'I-Character_Name',
 'I-Director',
 'I-Genre',
 'I-Opinion',
 'I-Origin',
 'I-Plot',
 'I-Quote',
 'I-Relationship',
 'I-Soundtrack',
 'I-Year',
 'O']

In [32]:
mapper = {}
i = 0
for each in mapper_list:
    mapper[each] = i
    i = i+1

In [33]:
mapper

{'B-Actor': 0,
 'B-Award': 1,
 'B-Character_Name': 2,
 'B-Director': 3,
 'B-Genre': 4,
 'B-Opinion': 5,
 'B-Origin': 6,
 'B-Plot': 7,
 'B-Quote': 8,
 'B-Relationship': 9,
 'B-Soundtrack': 10,
 'B-Year': 11,
 'I-Actor': 12,
 'I-Award': 13,
 'I-Character_Name': 14,
 'I-Director': 15,
 'I-Genre': 16,
 'I-Opinion': 17,
 'I-Origin': 18,
 'I-Plot': 19,
 'I-Quote': 20,
 'I-Relationship': 21,
 'I-Soundtrack': 22,
 'I-Year': 23,
 'O': 24}

In [34]:
trivia_train = pd.DataFrame(columns=['tokens', 'ner_tags'])
trivia_val = pd.DataFrame(columns=['tokens', 'ner_tags'])
trivia_test = pd.DataFrame(columns=['tokens', 'ner_tags'])

plain_train = pd.DataFrame(columns=['tokens', 'ner_tags'])
plain_val = pd.DataFrame(columns=['tokens', 'ner_tags'])
plain_test = pd.DataFrame(columns=['tokens', 'ner_tags'])

In [35]:
# uncomment to map to numbers

trivia_train["ner_tags"] = trivia_y_train.apply(lambda f:[mapper [x] for x in f])
trivia_test["ner_tags"] = trivia_y_test.apply(lambda f:[mapper [x] for x in f])
trivia_val["ner_tags"] = trivia_y_val.apply(lambda f:[mapper [x] for x in f])

# plain_train["ner_tags"] = y_train.apply(lambda f:[mapper [x] for x in f])
# plain_test["ner_tags"] = y_test.apply(lambda f:[mapper [x] for x in f])
# plain_val["ner_tags"] = y_val.apply(lambda f:[mapper [x] for x in f])

# trivia_train["ner_tags"] = trivia_y_train
# trivia_test["ner_tags"] = trivia_y_test
# trivia_val["ner_tags"] = trivia_y_val

plain_train["ner_tags"] = y_train
plain_test["ner_tags"] = y_test
plain_val["ner_tags"] = y_val

In [36]:
trivia_train['id'] = pd.Series(trivia_train.index).apply(str)
trivia_val['id'] = pd.Series(trivia_val.index).apply(str)
trivia_test['id'] = pd.Series(trivia_test.index).apply(str)

# plain_train['id'] = pd.Series(plain_train.index).apply(str)
# plain_val['id'] = pd.Series(plain_val.index).apply(str)
# plain_test['id'] = pd.Series(plain_test.index).apply(str)

trivia_train["tokens"] = trivia_X_train
trivia_test["tokens"] = trivia_X_test
trivia_val["tokens"] = trivia_X_val

plain_train["tokens"] = X_train
plain_test["tokens"] = X_test
plain_val["tokens"] = X_val

In [37]:
# trivia_train
plain_train

,tokens,ner_tags
0,"[what, is, the, name, of, the, film, that, sta...","[O, O, O, O, O, O, O, O, O, B-ACTOR, I-ACTOR, ..."
1,"[i, want, to, watch, a, mystery, film, with, c...","[O, O, O, O, O, B-GENRE, O, O, B-ACTOR, I-ACTO..."
2,"[did, the, star, of, napoleon, dynamite, act, ...","[O, O, O, O, B-TITLE, I-TITLE, O, O, O, O, O]"
3,"[find, the, movie, with, the, famous, quote, h...","[O, O, O, O, O, O, O, O, O, O, O, O]"
4,"[name, the, the, sequel, of, the, movie, pitch...","[O, O, O, O, O, O, O, B-TITLE, I-TITLE, O, O, O]"
...,...,...
7815,"[what, is, diggers, about]","[O, O, B-TITLE, O]"
7816,"[who, is, most, well, known, for, directing, m...","[O, O, O, O, O, O, O, B-GENRE, O]"
7817,"[do, you, recall, the, sam, shepard, movie, ab...","[O, O, O, O, B-ACTOR, I-ACTOR, O, O, O, B-PLOT..."
7818,"[im, looking, for, horror, movies, with, great...","[O, O, O, B-GENRE, O, O, B-RATINGS_AVERAGE, I-..."
7819,"[what, is, the, name, of, the, movie, in, the,...","[O, O, O, O, O, O, O, O, O, B-TITLE, O, B-ACTO..."

In [29]:
trivia_train.to_json(r"../datasets/movies/MIT_movie_NER/dict_structure/trivia_training.json", orient='records', lines=True)
trivia_test.to_json(r"../datasets/movies/MIT_movie_NER/dict_structure/trivia_test.json", orient='records', lines=True)
trivia_val.to_json(r"../datasets/movies/MIT_movie_NER/dict_structure/trivia_val.json", orient='records', lines=True)

In [38]:
plain_train.to_json(r"../datasets/movies/MIT_movie_NER/dict_structure/plain_training.json", orient='records', lines=True)
plain_test.to_json(r"../datasets/movies/MIT_movie_NER/dict_structure/plain_test.json", orient='records', lines=True)
plain_val.to_json(r"../datasets/movies/MIT_movie_NER/dict_structure/plain_val.json", orient='records', lines=True)

In [11]:
# def to_json(df, path):
#     for_json_list = []
#     f = open(path, "w")
#     for index, row in df.iterrows():
#         f.write(f"{ "id" : {index}, "tokens" : {row[0]},
#             "ner_tags" : {row[1]}}" + "\n")
#     f.close()

In [12]:
# to_json(trivia_train, "data/MIT_movie_NER/dict_structure/trivia_training.jsonl")
# to_json(trivia_test, "data/MIT_movie_NER/dict_structure/trivia_test.jsonl")
# to_json(trivia_val, "data/MIT_movie_NER/dict_structure/trivia_val.jsonl")

In [46]:
# data.to_csv("data/MIT_movie_NER/csv_format/trivia_training.csv")