In [30]:
import pandas as pd
import joblib
import random
import json

In [31]:
trivia_X_train = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_X_train"))
trivia_y_train = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_y_train"))
trivia_X_test = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_X_test"))
trivia_y_test = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_y_test"))
trivia_X_val = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_X_val"))
trivia_y_val = pd.Series(joblib.load("../datasets/movies/MIT_movie_NER/nested_lists/trivia_y_val"))

In [32]:
len(trivia_X_train[2])

20

In [33]:
len(trivia_y_train[2])

20

In [34]:
# path = "data/MIT_movie_NER/original_files/trivia10k13train.bio"
# save_path = "data/MIT_movie_NER/csv_format/trivia_training.csv"

# data = pd.read_csv(path, header=None)
# df = pd.DataFrame(columns=["token", "ner_tag"])
# df['token'], df['ner_tag'] = list(zip(*data[0].str.split("\t")))
# df.to_csv(save_path)

In [35]:
mapper_list = ['B-Actor',
 'B-Award',
 'B-Character_Name',
 'B-Director',
 'B-Genre',
 'B-Opinion',
 'B-Origin',
 'B-Plot',
 'B-Quote',
 'B-Relationship',
 'B-Soundtrack',
 'B-Year',
 'I-Actor',
 'I-Award',
 'I-Character_Name',
 'I-Director',
 'I-Genre',
 'I-Opinion',
 'I-Origin',
 'I-Plot',
 'I-Quote',
 'I-Relationship',
 'I-Soundtrack',
 'I-Year',
 'O']

In [23]:
mapper = {}
i = 0
for each in mapper_list:
    mapper[each] = i
    i = i+1

In [24]:
mapper

{'B-Actor': 0,
 'B-Award': 1,
 'B-Character_Name': 2,
 'B-Director': 3,
 'B-Genre': 4,
 'B-Opinion': 5,
 'B-Origin': 6,
 'B-Plot': 7,
 'B-Quote': 8,
 'B-Relationship': 9,
 'B-Soundtrack': 10,
 'B-Year': 11,
 'I-Actor': 12,
 'I-Award': 13,
 'I-Character_Name': 14,
 'I-Director': 15,
 'I-Genre': 16,
 'I-Opinion': 17,
 'I-Origin': 18,
 'I-Plot': 19,
 'I-Quote': 20,
 'I-Relationship': 21,
 'I-Soundtrack': 22,
 'I-Year': 23,
 'O': 24}

In [36]:
trivia_train = pd.DataFrame(columns=['tokens', 'ner_tags'])
trivia_val = pd.DataFrame(columns=['tokens', 'ner_tags'])
trivia_test = pd.DataFrame(columns=['tokens', 'ner_tags'])

In [37]:
# uncomment to map to numbers

# trivia_train["ner_tags"] = trivia_y_train.apply(lambda f:[mapper [x] for x in f])
# trivia_test["ner_tags"] = trivia_y_test.apply(lambda f:[mapper [x] for x in f])
# trivia_val["ner_tags"] = trivia_y_val.apply(lambda f:[mapper [x] for x in f])

trivia_train["ner_tags"] = trivia_y_train
trivia_test["ner_tags"] = trivia_y_test
trivia_val["ner_tags"] = trivia_y_val

In [38]:
trivia_train['id'] = pd.Series(trivia_train.index).apply(str)
trivia_val['id'] = pd.Series(trivia_val.index).apply(str)
trivia_test['id'] = pd.Series(trivia_test.index).apply(str)

trivia_train["tokens"] = trivia_X_train
trivia_test["tokens"] = trivia_X_test
trivia_val["tokens"] = trivia_X_val

In [39]:
trivia_train

,tokens,ner_tags,id
0,"[colin, firth, won, an, oscar, for, his, role,...","[B-Actor, I-Actor, O, O, B-Award, O, O, O, B-P...",0
1,"[what, s, that, newer, movie, that, quentin, t...","[O, O, O, O, O, O, B-Director, I-Director, O, ...",1
2,"[what, is, the, animated, family, movie, that,...","[O, O, O, B-Genre, I-Genre, O, O, O, O, B-Plot...",2
3,"[what, is, the, sequel, to, the, animated, pix...","[O, O, O, B-Relationship, O, O, B-Genre, O, B-...",3
4,"[this, zombie, thriller, directed, by, george,...","[O, B-Genre, I-Genre, O, O, B-Director, I-Dire...",4
...,...,...,...
6248,"[what, is, the, name, of, the, weak, child, th...","[O, O, O, O, O, B-Plot, I-Plot, I-Plot, I-Plot...",6248
6249,"[this, is, the, original, second, movie, of, a...","[O, O, O, O, O, O, O, O, O, B-Genre, I-Genre, ...",6249
6250,"[in, addition, to, having, a, camera, mounted,...","[O, O, O, O, O, O, O, O, O, O, O, O, B-Actor, ...",6250
6251,"[in, what, film, does, denzel, washington, por...","[O, O, O, O, B-Actor, I-Actor, B-Plot, I-Plot,...",6251
6252,"[jimmy, stewart, plays, another, american, leg...","[B-Actor, I-Actor, O, O, B-Plot, I-Plot, I-Plo...",6252

In [29]:
trivia_train.to_json(r"../datasets/movies/MIT_movie_NER/dict_structure/trivia_training.json", orient='records', lines=True)
trivia_test.to_json(r"../datasets/movies/MIT_movie_NER/dict_structure/trivia_test.json", orient='records', lines=True)
trivia_val.to_json(r"../datasets/movies/MIT_movie_NER/dict_structure/trivia_val.json", orient='records', lines=True)

In [11]:
# def to_json(df, path):
#     for_json_list = []
#     f = open(path, "w")
#     for index, row in df.iterrows():
#         f.write(f"{ "id" : {index}, "tokens" : {row[0]},
#             "ner_tags" : {row[1]}}" + "\n")
#     f.close()

In [12]:
# to_json(trivia_train, "data/MIT_movie_NER/dict_structure/trivia_training.jsonl")
# to_json(trivia_test, "data/MIT_movie_NER/dict_structure/trivia_test.jsonl")
# to_json(trivia_val, "data/MIT_movie_NER/dict_structure/trivia_val.jsonl")

In [46]:
# data.to_csv("data/MIT_movie_NER/csv_format/trivia_training.csv")